/*
	color codes
	- #3879bd
	- #ed6d03
*/
*{
    margin: 0;
    padding: 0;
}
a,
a:hover,
a:focus,
a:active{
    color: #000 !important;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-bottom: 15px;
}
 /* custom css */

 .col-5{
	width:20%;
	float:left;
	padding-left:15px;
	padding-right:15px;
}

.carousel-inner .item{
	height: 400px;
	overflow: hidden;
}


/*=================| start top-area css |=================*/

.top_area{
	background: #000;
	border-bottom:1px solid #000;
}
.top_area .btn.btn-default {
	background: #000;
	border: 1px solid;
	border-radius: 0;
	color: #fff;
	padding: 14px;
	transition: all 0.5s ease 0s;
}
.top_area .btn.btn-default:hover{
	background: #000;
}

.top_area .input-group{
	margin-right:15px;
}
.top_area .input-group input[type="text"]{
	background-color: #fff;
	border: none;
	height: auto;
	border-radius: 0;
	padding:15px;
	box-shadow: none;
	width: 90px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s ;
	-ms-transition: all 0.3s ;
	-o-transition: all 0.3s ;
	transition: all 0.3s ;

}
.top_area .input-group input[type="text"]:focus{
	width:	250px;
}
#trustbean-top-menu{}
#trustbean-top-menu ul.nav{

}

#trustbean-top-menu ul.nav li{}
#trustbean-top-menu ul.nav ul.dropdown-menu{
	margin: -1px;
	padding: 0;
	z-index: 2;
	border-radius: 0;
}
#trustbean-top-menu ul.nav ul li .fa.fa-skype {
	background: deepskyblue;
	font-size: 12px;
	height: 14px;
	padding-top: 1px;
	text-align: center;
	width: 18px;
}
#trustbean-top-menu ul.nav li.login{}
#trustbean-top-menu ul.nav li a {
	padding: 15px 20px;
	color: #fff!important;
}

#trustbean-top-menu ul.dropdown-menu li a:active,
#trustbean-top-menu ul.dropdown-menu li a:focus,
#trustbean-top-menu ul.dropdown-menu li a:hover {
  	background: #333333;
}
#trustbean-top-menu ul.nav ul.dropdown-menu li a {
	padding: 10px 15px;
	color: #333333!important;
	border-bottom: 1px solid rgba(0,0,0,0.03);
}
#trustbean-top-menu ul.nav ul.dropdown-menu li:last-child a {
	border-bottom: 0 solid #f0f0f0;
}
#trustbean-top-menu ul.nav ul.dropdown-menu li a span{
	margin-right:15px;
}
#trustbean-top-menu ul.nav ul.dropdown-menu li a:hover {
	color: #fff!important;
}

#trustbean-top-menu .nav .open > a,
#trustbean-top-menu .nav .open > a:focus,
#trustbean-top-menu .nav .open > a:hover,
#trustbean-top-menu ul.nav li a:hover{
	background: #333333;
	color: #fff!important;
}
.dropdown.active .dropdown-toggle{
	background: #333333!important;
}
#trustbean-top-menu input[type="search"]{}
#trustbean-top-menu input[type="search"]:focus{}
/*=================| end top-area css |=================*/

/*=================| start slider css |=================*/
#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0;
}
.nav-pills>li a { color: gray!important; }
.nav-pills>li.active a,
.nav-pills>li.active a:hover, 
.nav-pills>li.active a:active,
.nav-pills>li.active a:focus { 
	color: #000!important; 
	background: #EEEEEE; 
}
/*=================| end slider css |=================*/
/*=================| end header css |=================*/
.header{
	margin-top:25px;
	margin-bottom:25px;
}
.header .logo{
	color: #ed6d03 !important;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}
.header .logo span{
	font-weight: normal!important;
}
.header .chat{
	margin-top:5px;
}
.header .chat a{
	font-size: 24px;
	margin-left: 15px;

}
.header .chat a.head {
	background: #ed6d03;
	border-radius: 0 5px 5px 0;
	color: #fff !important;
	font-size: 18px;
	margin-left: 65px;
	padding: 11px 23px 10px;
}
.header .chat a.head:hover{
	opacity:0.8;
}
.header .chat i{}
.header .chat i.fa-phone{}
.header .chat i.fa-headphones {
	background: #ed6d03;
	border-radius: 100%;
	box-shadow: 2px 3px 7px -2px black;
	color: #fff;
	font-size: 38px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	right: 140px;
	text-align: center;
	top: -7px;
	width: 60px;
}
.nav_area{
	z-index: 1;
}

